<div class="skiCalculator">
  <h1 class="skiCalculator__title">Skidlängdsberäknare</h1>
  <div class="skiCalculator__divider"></div>
  <div class="skiCalculator__formControl">
    <label>Ålder</label>
    <input type="number" min="0" [(ngModel)]="age">
  </div>
  <div class="skiCalculator__formControl">
    <label>Längd</label>
    <input type="number" min="1" [(ngModel)]="length">
  </div>
  <div class="skiCalculator__formControl">
    <label>Skidtyp</label>
    <select [(ngModel)]="selectedDiscipline">
      <option *ngFor="let discipline of disciplines" [ngValue]="discipline">
        {{getDisciplineDescription(discipline)}}
      </option>
    </select>
  </div>
  <div class="skiCalculator__divider"></div>
  <div class="skiCalculator__result">
  </div>
</div>