<div class="skiCalculator">
  <h1 class="skiCalculator__title">Skidlängdsberäknare</h1>
  <div class="skiCalculator__divider"></div>
  <div class="skiCalculator__formControl">
    <label>Ålder</label>
    <input type="text">
  </div>
  <div class="skiCalculator__formControl">
    <label>Längd</label>
    <input type="text">
  </div>
  <div class="skiCalculator__divider"></div>
  <div class="skiCalculator__cardContainer">
    <div class="skiCalculator__styleCard">
      Fristil
    </div>
    <div class="skiCalculator__styleCard skiCalculator__styleCard--selected">
      Klassisk
    </div>
  </div>

  <div class="skiCalculator__result">
  </div>
</div>